<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="category">
    <div class="d-flex h-100 border border-warning border-3 rounded bg-warning bg-opacity-10">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link fs-3 text-warning-emphasis" href="/main">메인 화면</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-3 text-warning-emphasis" href="/friend/list">친구 목록</a>
            </li>
        </ul>
    </div>
</div>
</html>