<!--프론트 개발담당 :김범철-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/join-style.css}">
    <link href="/css/navbar.css" rel="stylesheet" type="text/css"/>
    <title>Title</title>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div class="changepw-container">
    <form th:action="@{/send-pass-email}" method="post">
        <input type="hidden" th:name="email" th:id="email" th:value="${param.string}">
        <div class="resend">
            <input type="submit" value="임시패스워드 발송">
        </div>
    </form>

    <div class="message" th:if="${message}" th:text="${message}"></div>
    <div class="message" th:if="${error}" th:text="${error}"></div>

</div>
</body>
</html>