<!--프론트 개발담당 :김범철-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/join-style.css}">
    <link href="/css/navbar.css" rel="stylesheet" type="text/css"/>
    <title>Registration Success</title>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div class="verify-container">
    <h4>Registration Successful</h4>
    <p>Please check your email for the verification code.</p>
    <div class="auth-link">
        <a th:href="@{/verify(email=${email})}" class="btn-link">인증 하기</a>
    </div>
</div>
</form>
</body>
</html>
