<!--프론트 개발담당 :김범철-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
            src="https://unpkg.com/htmx.org@2.0.1"></script>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script crossorigin="anonymous" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="/css/navbar.css" rel="stylesheet" type="text/css"/>
    <link href="/css/search.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<!-- 컨테이너 너비 설정 -->
<div class="search-container">
    <div class="search-text" th:text="${query}"> 검색 결과 입니다.</div>
    <main class="main-container">
<!--        <div th:with="query=${query}">-->
<!--            <div hx-get="/friend/user_search/{query}/0" hx-swap="outerHTML" hx-trigger="revealed"-->
<!--                 th:attr="hx-get=${'/friend/user_search/' + query + '/0'}"></div>-->
<!--        </div>-->

            <div th:with="query=${query}" hx-get="/friend/user_search/{query}/0" hx-swap="outerHTML" hx-trigger="revealed"
                 th:attr="hx-get=${'/friend/user_search/' + query + '/0'}"></div>

    </main>
</div>

<script src="js/searchnav.js"></script>


</body>
</html>
